.post-container {
    border: 5px solid purple;
    width: 60%;
    height: auto;
}

.post-container .instagram-user-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: auto;
    height: auto;
}

.post-container .instagram-user-container .user-container {
    padding-left: 2%;
    display: flex;
    flex-flow: row no wrap;
}

.post-container .instagram-user-container .user-container .thumbnail {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    align-self: baseline;
    margin-top: 10%;
}

.post-container .instagram-user-container .user-container .user {
    display: inline-block;
    padding-left: 7%;
}

.post-container .instagram-user-container .portrait {
    display: block;
    width: 99%;
    margin-left: .5%;
}

.post-container .instagram-user-container .reaction-container {
    display: flex;
    border: 1px solid blue;
    width: 100%;
    margin: 1% 0 0 1.5%;
}

.post-container .instagram-user-container .reaction-container .icon {
    width: 25px;
    height: 25px;
    margin: auto 5px;
}

/* .post-container .instagram-user-container .reaction-container .like {
} */

.post-container .instagram-user-container .reaction-container .comment {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.post-container .instagram-user-container .likes {
    display: block;
    width: 100%;
    text-align: left;
    margin: .5% 0 0 2.5%;
    font-size: 1.4rem;
}

.post-container .instagram-user-container .comments-container {
    border: 5px solid yellow;
    width: 99%;
    margin-left: 0.5%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.post-container .instagram-user-container .timestamp-container {
    width: 100%;
    text-align: left;
}

